.sidebar {

width:250px;

height:100vh;

position:fixed;

left:0;

top:0;

background:#ffffff;

border-right:1px solid #eeeeee;

padding:25px 18px;

display:flex;

flex-direction:column;

box-sizing:border-box;

}




.sidebar-logo {

display:flex;

align-items:center;

gap:12px;

font-size:22px;

font-weight:700;

margin-bottom:40px;

color:#111827;

}



.logo-circle {

width:42px;

height:42px;

border-radius:14px;

background:linear-gradient(
135deg,
#7c3aed,
#a855f7
);

color:white;

display:flex;

align-items:center;

justify-content:center;

font-weight:800;

font-size:22px;

}





.sidebar-menu {

display:flex;

flex-direction:column;

gap:8px;

}




.sidebar-link {

height:45px;

display:flex;

align-items:center;

gap:14px;

padding:0 14px;

border-radius:12px;

color:#6b7280;

cursor:pointer;

font-size:15px;

font-weight:500;

transition:.25s;

}



.sidebar-link:hover {

background:#f5f3ff;

color:#7c3aed;

}



.sidebar-link.active {

background:#ede9fe;

color:#7c3aed;

font-weight:600;

}




.icon {

font-size:20px;

display:flex;

}



.sidebar-footer {

margin-top:auto;

}



.logout {

color:#ef4444;

}



.logout:hover {

background:#fee2e2;

color:#dc2626;

}
